# console.log()
snippet clog
console.log(${1:thi sis someint});$0
endsnippet

# try catch block
snippet try
try {
	$1
} catch (err) {
	console.log(err);
	$2
}$0
endsnippet

# if
snippet if
if ($1) { 
	$2
}$0
endsnippet

# if...else
snippet ife
if ($1) {
	$2
} else {
	$3
}$0
endsnippet

# import
snippet im
import $1 from '$2';$0
endsnippet

# object
snippet obj
const $1 = {
	$2: $3
}$0
endsnippet

